[Desktop Entry]
Name=1Password
Exec=1password %U
Terminal=false
Type=Application
Icon=/home/heywoodlh/.local/share/applications/1password.svg
StartupWMClass=1Password
Comment=Password manager and secure wallet
MimeType=x-scheme-handler/onepassword;
Categories=Office;
